<h3>Salem!</h3>
<h4>In this lab we do : </h4>
<h5>In this laboratory work, you must try using the Route and Http modules in your Angular project.</h5>

<ol>
    <li>URL: /home - static markup page</li>
    <li>URL: /about - static markup page</li>
    <li>You should have CRUD (create/read/update/delete) operations for albums.</li>
    <li>URL: /albums - a list of albums from this url. Each item should:
        have delete button with implementation
        be clickable, after selecting one of them, a detail page must be opened.</li>
    <li>URL: /albums/:id - detail page of selected item (example). This page should contain:
        information about the selected item
        editable input for changing album title and “Save” button
        “Return” button
        “Photos” link which will redirect to the photos page of the selected album</li>
    <li>URL: /albums/:id/photos - photos page of selected album (example). This page will render all images in any format and will have a “Return” button</li>
    <li>Root URL: “”, must be redirected to: /home </li>
    <li>Albums and photos must be fetched using the HTTP module and must be passed to components through albums.service.ts and must be Observable</li>
    <li>Your components:
        Home Component
        About Component
        Albums Component
        Album Detail Component
        Album Photos Component
        </li>
</ol>